parameters:
    level: 7
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
        - plugins
    excludes_analyse:
        - src/Console/Installer.php
        - plugins/Markdown/vendor
