/* Blue Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #8839ef;
    --primary-hover: #8839ef;
    --primary-focus: #ccd0da;
    --primary-inverse: #fff;
    --background-color: #eff1f5;
}

/* Blue Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
  --primary: #a6da95;
  --primary-hover: #a6da95;
  --primary-focus: #1e2030;
  --primary-inverse: #181926;
  --background-color: #24273a;
  }
}

/* Blue Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #a6da95;
  --primary-hover: #a6da95;
  --primary-focus: #1e2030;
  --primary-inverse: #181926;
  --background-color: #24273a;
}

/* Blue (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}